Source: kodi-pvr-xinfan
Priority: extra
Maintainer: Nobody <nobody@kodi.tv>
Build-Depends: debhelper (>= 9.0.0), cmake, libtinyxml-dev, kodi-pvr-dev,
               libkodiplatform-dev (>= 16.0.0), kodi-addon-dev
Standards-Version: 3.9.2
Section: libs

Package: kodi-pvr-xinfan
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: xinfan PVR for Kodi
 xinfan PVR for Kodi

Package: kodi-pvr-xinfan-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: debug symbols for xinfan PVR for Kodi
 debug symbols for xinfan PVR for Kodi

